body {
    background: #696767;
}

.rounded-profile {
    width: 175px;
    height: 175px;
    border-radius: 100px;
}
#profile_pic_div{
    display: flex;
    justify-content: center;
    padding: 4rem;
}
#name_div{
    display: flex;
    justify-content: center;
    font-family: serif Norfolk;
    font-size: xxx-large;
    color: azure;
}
#developer_div{
    display: flex;
    justify-content: center;
    font-family: serif Norfolk;
    font-size: xx-large;
    color: azure;
}
#location_div{
    display: flex;
    justify-content: center;
    font-family: serif Norfolk;
    font-size: x-large;
    color: azure;
    margin-bottom: 3rem;
}

#skyline_pic_div{
   display: flex;
    justify-content: center;

}
#resume_link{
    display: flex;
    justify-content: center;
    font-family: serif Norfolk;
    color: azure;
    font-size: large;
}
h2 {
    color: azure;
    font-family: serif Norfolk;
}

#links_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.link_anchors{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#skyline{
    max-width: 1300px;
    height: auto;
}

#about_me{
    text-align: center;
    color: white;
    font-size: large;
    text-indent: 20px;

}
#about_me_article{
    height: 10rem;
}
 #projects_container{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;


 }

 .project_card{
     min-width: 30%;
     max-width: 300px;
     min-height: 300px;
     max-height: 600px;
     position: relative;
     border-radius: 10px;
     flex-grow: 1;
     margin: 5px;
 }

 #ctc_card{
     background-size: cover;
     background: url("/img/ctc_pic.jpg") no-repeat center;
     box-shadow: 0 6px 12px rgba(0,0,0,0.26);
 }
#movie_card{
    background-size: cover;
    background: url("/img/movie.jpg") no-repeat center;
    box-shadow: 0 6px 12px rgba(0,0,0,0.26);
}
#coffee_card{
    background-size: cover;
    background: url("/img/bistro_bg.jpg") no-repeat center;
    box-shadow: 0 6px 12px rgba(0,0,0,0.26);
}
#weather_card{
    background-size: cover;
    background: url("/img/weathermapbg.jpg") no-repeat center;
    box-shadow: 0 6px 12px rgba(0,0,0,0.26);
}
#pokemon_dex{
    background-size: cover;
    background: url("/img/poke_background.jpg") no-repeat center;
    box-shadow: 0 6px 12px rgba(0,0,0,0.26);
}
#react_expense{
    background-size: cover;
    background: url("/img/expense_tracker.jpg") no-repeat center;
    box-shadow: 0 6px 12px rgba(0,0,0,0.26);
}

 .caption-content > p {
     color: ghostwhite;
     text-indent: 20px;
     opacity: 100%;
     padding: 8px;
     text-align: center;
 }

 .portfolio-item{
     opacity: 50%;
 }
 .img-fluid{
     opacity: 75%;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 span {
     display: block;
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     z-index: 999;
 }

 #projects_container h3{
     text-align: center;
     color: ghostwhite;
 }